<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853649635377-a54496aoa4mpbgubpianasvrsud1n4le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853649635377-a54496aoa4mpbgubpianasvrsud1n4le</string>
	<key>API_KEY</key>
	<string>AIzaSyDF1UGx7aA2jhb9pmTXKEl6FbUF6zqbHZI</string>
	<key>GCM_SENDER_ID</key>
	<string>853649635377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PayanMickael.ACNHGuide</string>
	<key>PROJECT_ID</key>
	<string>acnhguide-e07dd</string>
	<key>STORAGE_BUCKET</key>
	<string>acnhguide-e07dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853649635377:ios:90009668a8a1982973bd10</string>
</dict>
</plist>